---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<p>
  I have contributed to writing and publication of manuscripts, enhancing the body of research on infectious diseases in Liberia. My work has been presented at various scientific conferences, including the Emmet A. Dennis Scientific Conference and the West Africa Clinical Research Consultum.
</p>

<p>
  My research contributions span a wide range of epidemiological and public health topics. Notably, I played a crucial role in a longitudinal cohort study on the clinical sequelae among Ebola survivors, resulting in a publication in The Lancet Infectious Diseases. I have also been involved in evaluating the diagnostic performance of COVID-19 tests, studying maternal healthcare satisfaction, and examining COVID-19 vaccine effectiveness in Liberia.
</p>

<p>
In my current role at UNICEF, I am involved in several ongoing research initiatives, including establishing baseline nutrition data, developing M&E frameworks, and conducting geospatial analyses to identify areas of high need for targeted health interventions.
</p>

<h2>Research Interests</h2>
<p>
  My research interests lie at the intersection of advanced statistical methods, machine learning, and their applications in clinical research and public health. My goal is to develop innovative statistical approaches that can enhance the design, analysis, and interpretation of clinical trials and epidemiological studies, ultimately improving patient care and public health decision-making.
</p>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



